# Google Spreadsheet related settings
SHEET_NAME=
CID=A
DUE_DATE=F
DONE_DATE=G
JIRA_ISSUE_KEY=K
TICKET_STATUS=L
ASSIGNEE=N
DATA_RANGE=8:12

# JIRA Related Settings
JIRA_SERVER_URL=
JIRA_USERNAME=
JIRA_OAUTH_TOKEN=
